# =================================================
# General & Security
# =================================================
HELP.md
*.log
*.log.*.gz
dependency.tree
.secret.env
*.pem
*.db
.DS_Store
misc/*.json
misc/*.jsonl
misc/*.txt
misc/*.png
misc/*.jpeg
misc/*.jpg
misc/*.wav

# =================================================
# IDEs
# =================================================
.idea/
.vscode/
*.iws
*.iml
*.ipr

# =================================================
# Python & Environments
# =================================================
__pycache__/
.venv/
.python-version
*.pyc

# =================================================
# Tools
# =================================================
.adk/
memory/chroma_db/
*/db/
db/


# =================================================
# Build & Package
# =================================================
target/
build/
node_modules/
BOOK_LLMs-from-scratch/
infini-gram-test/
